@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic,latin-ext");
@icon-font-path : "../fonts/icon.png";
@icon-font-name : "glyphicons-halflings-regular";
body {
  font-family: "Roboto", sans-serif;
  background: rgba(255, 99, 71, 0.2);
  /* Цвет фона */
  border: 4px double black;
  height: 100vh; }

h2, p {
  text-align: center; }

table, tr, td {
  border: 2px solid; }

table {
  width: 50%;
  /* Ширина таблицы */
  border: 1px solid green;
  /* Рамка вокруг таблицы */
  margin: auto;
  /* Выравниваем таблицу по центру окна  */ }

td {
  text-align: center;
  /* Выравниваем текст по центру ячейки */ }

img {
  display: block;
  margin: 0 auto; }

img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  /* IE 6-9 */
  /*Добавим вот такой вот код*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  /*конец кода с transition*/ }

img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
  /* IE 6-9 */ }
